<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onlineLibrary.mapper.BookPageMapper">

    <insert id="insertComment" useGeneratedKeys="true" keyProperty="id">
        insert into comments(book_id, content, rating,
                             create_time, create_user, update_time, update_user)
        VALUES (#{bookId},#{content},#{rating},
                #{createTime},#{createUser},#{updateTime},#{updateUser})
    </insert>

    <select id="getAverageRating" resultType="java.lang.Double">
        SELECT AVG(rating) FROM comments WHERE book_id = #{bookId}
    </select>

    <update id="updateBookRating">
        UPDATE book
        SET rating = #{averageRating}
        WHERE id = #{bookId}
    </update>
</mapper>